<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <title>乐淘首页</title>
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.css" />
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/product-d.css">
</head>

<body>
    <div class="view">
        <header class="mui-clearfix">
            <a href="javascript:history.back();" class="back_btn fa fa-arrow-left"></a>
            <h1>搜索</h1>
            <a href="index.html" class="lt-top-rbtn">
                <span class="fa fa-home"></span>
            </a>
        </header>
        <div class="main">
            <div class="content">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <!-- 模板 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="lt-trade">
            <a href="user/cart.html">
                <span class="fa fa-shopping-cart"></span>
            </a>
            <a href="javascript:;" class="mui-btn mui-badge-danger">立即购买</a>
            <a href="javascript:;" class="mui-btn mui-btn-warning">加入购物车</a>
        </div>
    </div>
    <script type="text/template" id="product">
         <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="<%= pic[pic.length-1].picAddr%>" />
                    </a>
                </div>
                <%for(var i = 0;i<pic.length;i++){%>
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="<%= pic[i].picAddr%>" />
                    </a>
                </div>
                <%}%>
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="<%= pic[0].picAddr%>" />
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <%for(var i = 0;i<pic.length;i++){%>
                    <div class="mui-indicator <%= i==0?'mui-active':''%>"></div>
                <%}%>
            </div>
        </div>
        <div class="lt-item">
            <span><%= proName%></span>
        </div>
        <div class="lt-item">
            价格：
            <span class="price">&yen;<%= price%></span>&nbsp;&nbsp;
            <del class="oldPrice">&yen;<%= oldPrice%></del>
        </div>
        <div class="lt-item">
            尺码：
            <%
                var str = size;
                var arr = str.split("-");
                var start = arr[0];
                var end = arr[1];
            %>
            <%for(var i = start;i<=end;i++){%>
            <span class="psize <%= i==start?'active':''%>"><%= i%></span>
            <%}%>
        </div>
        <div class="lt-item">
            数量：
            <div class="mui-numbox" data-numbox-min="1" data-numbox-max="<%= num%>">
                <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                <input class="mui-input-numbox" data-id="<%= id%>" type="number" value="1">
                <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
            </div> 剩余<%= num%>件
        </div>
    </script>
    <script src="./assets/mui/js/mui.js"></script>
    <script src="./assets/zepto/zepto.min.js"></script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <script src="./js/common.js"></script>
    <!-- <script src="./js/index.js"></script> -->
    <script src="./js/product-d.js"></script>
</body>

</html>