<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <title>购物车</title>
    <link type="image/x-icon" rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../assets/mui/css/mui.css" />
    <link rel="stylesheet" href="../assets/fa/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/cart.css" />
</head>

<body>
    <div class="view">
        <header class="mui-clearfix">
            <a href="javascript:history.back();" class="back_btn fa fa-arrow-left"></a>
            <h1>购物车</h1>
            <a href="index.html" class="lt-top-rbtn">
                <span class="fa fa-home"></span>
            </a>
        </header>
        <div class="main" style="padding: 45px 0 87px;">
            <div class="content">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="lt_cart">
            <div>订单总金额：&yen;
                <span class="tol">00.00</span>
            </div>
            <a href="javascript:;">生成订单</a>
        </div>
        <footer>
            <ul class="mui-clearfix">
                <li>
                    <a href="/m/index.html">
                        <span class="fa fa-home"></span>
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="/m/category.html">
                        <span class="fa fa-bars"></span>
                        <p>分类</p>
                    </a>
                </li>
                <li>
                    <a class="active" href="cart.html">
                        <span class="fa fa-shopping-cart"></span>
                        <p>购物车</p>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <span class="fa fa-user"></span>
                        <p>个人中心</p>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
    <script type="text/template" id="cart">
        <%for(var i = 0; i<data.length;i++){%>
            <li class="mui-table-view-cell">
                    <div class="mui-slider-right mui-disabled">
                        <a data-indes="<%=i%>" data-id="<%= data[i].id%>" data-num="<%= data[i].num%>" data-size="<%= data[i].size%>" data-productsize="<%= data[i].productSize%>" data-productnum="<%= data[i].productNum%>" class="mui-btn mui-btn-blue">编辑</a>
                        <a data-id="<%= data[i].id%>" class="mui-btn mui-btn-red">删除</a>
                    </div>
                    <a href="javascript:;" class="list mui-clearfix mui-navigate-right mui-slider-handle">
                        <img src="<%= data[i].pic[0].picAddr%>" alt="">
                        <div>
                            <span class="mui-ellipsis-2"><%= data[i].proName%></span>
                            <p class="info mui-clearfix">
                                <span class="price">¥<%= data[i].price%></span>
                                <span class="oldPrice">¥<%= data[i].oldPrice%></span>
                                <span class="number">x<em><%= data[i].num%></em>双</span>
                            </p>
                            <p>
                                <span class="size">鞋码：<em><%= data[i].size%></em></span>
                            </p>
                            <input class="checks" data-id="<%= data[i].id%>" data-price="<%= data[i].price%>" type="checkbox">
                        </div>
                    </a>
            </li>
        <%}%>
    </script>
    <script type="text/template" id="edit">
        <div class="edit-item">
            尺码：
            <%
                var str = productSize;
                var arr = str.split("-");
                var start = arr[0];
                var end = arr[1];
            %>
            <%for(var i = start;i<=end;i++){%>
            <span class="psize <%= i==size?'active':''%>"><%= i%></span>
            <%}%>
        </div>
        <div class="edit-item">
                数量：
                <div class="mui-numbox" data-numbox-min="1" data-numbox-max="<%= productNum%>">
                    <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                    <input class="mui-input-numbox" data-id="<%= id%>" type="number" value="<%= num%>">
                    <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                </div> 剩余<%= productNum%>件
        </div>
    </script>
    <script src="../assets/mui/js/mui.js"></script>
    <script src="../assets/zepto/zepto.min.js"></script>
    <script src="../assets/artTemplate/template-native.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/user/cart.js"></script>
</body>

</html>