/*reset css*/

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    /* width: 100%; */
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: inherit;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span,
p {
    color: inherit;
}

em {
    /* text-decoration: none; */
    font-style: normal;
}

body,
html {
    width: 100%;
    height: 100%;
}

.view {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #fff;
}

.main {
    height: 100%;
    width: 100%;
    padding: 45px 0 55px;
}

.content {
    height: 100%;
    width: 100%;
    position: relative;
}


/* 头部 */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: #069;
    text-align: center;
    /* color: #fff; */
    z-index: 3;
}

h1 {
    font-size: 18px;
    color: #fff;
    line-height: 45px;
    margin: 0;
    display: inline;
}

header a {
    float: right;
    transform: translate(-100%, 10px);
    width: 18px;
    /* color: #fff; */
}

header a span {
    color: #fff;
}

.back_btn {
    float: left;
    transform: translate(100%, 13px);
    color: #fff;
}


/* 底部 */

footer {
    height: 55px;
    width: 100%;
    background-color: #069;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

footer ul {
    width: 100%;
    height: 100%;
}

footer ul li {
    height: 100%;
    width: 25%;
    text-align: center;
    color: #fff;
    float: left;
}

footer ul li a {
    height: 100%;
    padding-top: 5px;
    /* line-height: 55px; */
}

footer ul li a span,
footer ul li a p {
    color: #fff;
    /* line-height: 0; */
}

footer ul li a.active span,
footer ul li a.active p {
    color: #ffc052 !important;
}

@keyframes rotateLoading {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}


/*webkit兼容*/

@-webkit-keyframes rotateLoading {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}